*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.desktop{
    display: none;
}
img{
    object-fit: contain;
    width: 45px;
}
.card .div-1{
    background-color:  hsl(13, 100%, 72%);
    padding: 1rem;
    position: relative;
    width: 220px;
    max-width: 250px;
    height: 250px;
    max-height: 270px;
    border-bottom-left-radius: 3rem;
    background-image: url(images/bg-pattern-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: top -150px left -150px;
    margin-bottom: 1.5rem;
}
.card .div-1 .hamburger{
    position: absolute;
    left: 82%;
    height: 13px;
}
.hamburger.active{
    display: none;
}
h1{
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-top: 25px;
}
.text{
    font-size: 0.8rem;
    color:hsl(240, 2%, 79%);
    margin-top: 1rem;
}
.tooltip{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .4rem;
    margin-top: 20px;
}
.tool1{
    border: 1px solid #fff;
    border-radius: 15px;
    padding-top: 0.9rem;
    text-align: center;
    font-size: 0.7rem;
    height: 40px;
    color: white;
    margin-left: 5px;
    font-weight: bold;
    width: 100px;
}
.productwrap{
    background-color: white;
    position: absolute;
    width: 48%;
    height: 285px;
    padding: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    top: 6%;
    left: 26%;
    align-items: center;
    line-height: 1.5;
    font-weight: 500;
    display: none;
    box-shadow: 8px 14px 0px -5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 8px 14px 0px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 8px 14px 0px -5px rgba(0,0,0,0.1);
}
.productwrap.active{
    display: block;
}
.close{
    display: none;
    position: absolute;
    top: 2%;
    width: 15px;
    left: 70%;
}
.close.active{
   display: block;
}
.first{
    display: flex;
    text-align: center;
    line-height: 1.5;
    margin-left: 30%;
}
.productwrap img{
    width: 15px;
}
.fourth{
    background-color:  hsl(240, 2%, 89%);
    padding: 1rem;
    line-height: 1.5;
    width: 90%;
    border-radius: 0.2rem;
    margin:1rem 0.2rem;
}

.fourth a{
    color: black;
}
.fifth:hover{
    background-color:   hsl(13, 100%, 72%);
    width: 50%;
    padding: 0.3rem;
    border-radius: 1rem;
    color: #fff;
    margin-left: 20%;
}
.sixth:hover{
    background-color:   hsl(13, 100%, 72%);
    width: 50%;
    padding: 0.3rem;
    border-radius: 1rem;
    color: white;
    margin-bottom: 1rem;
    margin-left: 20%;
}
.tool2{
    display: flex;
    border: 1px solid #fff;
    border-radius: 15px;
   padding: .5rem;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    height: 40px;
    color: white;
    width: 100px;
    font-weight: bold;
}
.tool1:hover{
    color:  hsl(13, 100%, 72%);
    background-color: white;
}
.tool2:hover{
    color:  hsl(13, 100%, 72%);
    background-color: white;
}
.card .div-2{
    text-align: center;
    padding: 1rem;
    width: 220px;
    max-width: 250px;
    height: 500px;
    max-height: 550px;
}
h2{
    color: hsl(237, 23%, 32%);
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card .div-2 img{
    width: 80%;
}
.intro{
    color: hsl(237, 23%, 32%);
    font-weight: 600;
    margin-top: 1rem;
}
.robust{
    color: hsl(237, 23%, 32%);
    margin-top: 1rem;
    font-weight: 600;
}
.div-3{
    margin-top: 180px;
    margin-bottom: 1rem;
    position: relative;
}
.div-3 .state{
    background-color: hsl(237, 23%, 32%);
    text-align: center;
    padding: 1rem;
    width: 220px;
    max-width: 250px;
    height: 350px;
    max-height: 550px;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-image: url(images/bg-pattern-circles.svg);
    background-size: 300px;
    background-repeat: no-repeat;
   
}
h3{
    color: white;
    margin-top: 7.7rem;
  
}
.phone{
    width: 140px;
    position: absolute;
    top: -15%;
    margin-top: 2.5rem;
    left: 20%;
    
}
.div-4{
    text-align: center;
    padding: 1rem;
    width: 220px;
    max-width: 250px;
    height: 500px;
    max-height: 550px;
}
.div-4> img{
    width: 200px;
}
.free{
    color: hsl(237, 17%, 21%);
    font-weight: bold;
}
h4{
    color: hsl(237, 17%, 21%);
    margin-top: 1rem;
}
.div-5{
    background-color: hsl(237, 17%, 21%);
    text-align: center;
    color: hsl(240, 2%, 79%);
    padding: 2rem 0rem;
    border-top-right-radius: 3rem;
    line-height: 1.5;
    margin-top: 8rem;
}
h5{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}
.div-52>p:first-of-type{
    margin-bottom: 1rem;
}
.div-53>p:first-of-type{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.div-54>p:first-of-type{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.attribution{
    margin-top: 3rem;
}
.touch:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
}
.attribution>a{
    color: blue;
}
